<!DOCTYPE html>
<html>
  <head>
    <title>NicCrafts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

  

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

<link rel="icon" type="image" href="<%= asset_path('logo.png') %>" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    
<p class="alert"><%= alert %></p>

    <%= render partial:'components/cart_animation' %>

<script>
  window.onload = function() {
    document.querySelector(".cart-animation-container").style.display = "none";
  };
</script>


  </body>
</html>
